@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: 0, 0, 0;
  --background-hex: 214, 219, 220;
}

body {
  color: var(--foreground-hex);
  background: var(var(--background-hex));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.spoiler {
  background-color: rgb(16, 23, 29);
  border-radius: 4px;
  padding: 2px 8px;
  color: rgb(16, 23, 29);
  transition: all ease-in-out 0.1s;
}

.spoiler:hover {
  color: rgb(164, 184, 206);
}
